@import '../../common.scss';

.SimpleCover {
  min-height: calc(100vh - #{$block + $border});
  box-sizing: border-box;
  padding: $block;
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  background: url('../../images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;

  .SimpleCover-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: $block;
    padding: $padding;
    background: rgba($empty, 0.8);
    border-radius: 2*$border;
    border: $border solid $orange;

    .SimpleCover-top {
      font-size: 2rem;
      z-index: 10;

      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;

      .SimpleCover-title {
        padding: 0 0.5*$padding;
      }

      .SimpleCover-logo {
        height: 3rem;
        padding: 0 0.5*$padding;
      }
    }

    .SimpleCover-middle {
      margin-bottom: $padding;
      color: $default;
      font-size: 0.8rem;
      position: relative;
    }

    .SimpleCover-bottom {
      margin-bottom: $padding;
      font-size: 0.8rem;
      z-index: 10;

      .SimpleCover-button {
        display: block;
        line-height: $block;
        padding: 0 $padding;
        border: $border solid $orange;
        border-radius: 2*$border;
        color: $orange;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          color: $empty;
          background: $orange;
        }
      }
    }

    .SimpleCover-narrow {
      color: $orange;
      font-size: 0.5rem;
      font-weight: bolder;
      margin-bottom: $padding;

      @media (min-width: $minwidth) {
        height: 0;
        margin: 0;
        overflow: hidden;
      }
    }

    .SimpleCover-message {
      //color: $default;
      font-size: 0.4rem;
    }
  }

  .SimpleCover-link {
    text-decoration: none;
    color: inherit;

    &:hover {
      font-weight: bolder;
    }
  }

  .SimpleCover-footer-left,
  .SimpleCover-footer-right {
    position: fixed;
    bottom: 0;
    font-size: 0.4rem;
    color: $empty;
    padding: $border;
  }

  .SimpleCover-footer-right {
    right: 0;
  }

  .SimpleCover-footer-left {
    left: 0;
  }
}
