@import '../../color.scss';

.NavbarInput {
  padding: 10px 15px;
  width: 13em;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.NavbarInput-prompt,
.NavbarInput-input {
  flex: 0 0 auto;
  margin-bottom: 10px;
}

.NavbarInput-buttons {
  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.NavbarInput-cancel,
.NavbarInput-submit, {
  flex: 1 1 auto;
  text-align: center;
  line-height: 40px;

  &:hover {
    color: $white;
    cursor: pointer;
  }
}

.NavbarInput-cancel {
  &:hover {
    background: $light;
  }
}

.NavbarInput-submit {
  color :$orange;

  &:hover {
    background: $orange;
  }
}
