@import '../../common.scss';

.NavbarInput {
  padding: $padding;
  width: 5*$block;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  .NavbarInput-prompt,
  .NavbarInput-input {
    flex: 0 0 auto;
    margin-bottom: $padding;
  }

  .NavbarInput-error {
    flex: 0 0 auto;
    margin-bottom: $padding;
    font-size: 0.6rem;
    color: $orange;
  }

  .NavbarInput-buttons {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;

    .NavbarInput-cancel,
    .NavbarInput-submit {
      flex: 1 1 auto;
      text-align: center;
      line-height: $block;
    }

    .NavbarInput-cancel {
      color: $default;

      &:hover {
        color: $empty;
        background: $default;
        cursor: pointer;
      }
    }

    .NavbarInput-submit {
      color: $orange;

      &:hover {
        color: $empty;
        background: $orange;
        cursor: pointer;
      }
    }
  }
}
