@import '../../common.scss';

.DisplayScheduleDay {
  color: $full;
  flex: 1 1 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;

  &.DisplayScheduleDay-labels {
    flex: 0 0 $block;
  }

  .DisplayScheduleDay-header {
    font-size: 0.7rem;
    text-align: center;
    line-height: 1rem;
    height: 1rem;
  }
}

.DisplayScheduleDay-body {
  flex: 1 1 0;
  position: relative;
  margin: 0 2*$border;
}

.DisplayScheduleDay-cell {
  text-align: center;
  font-size: 0.6rem;

  position: absolute;
  left: -2*$border;
  right: -2*$border;
  border-top: $border solid $half;
}
