$orange: #ee7f2d;
$blue: #19647e;
$turquoise: #28afb0;
$yellow: #f4d35e;
$what: #1f271b;

$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;
$info: #17a2b8;


$black: #000;
$darkest: #222;
$darker: #444;
$dark: #666;
$light: #999;
$lighter: #bbb;
$lightest: #ddd;
$white: #fff;
