@import './common.scss';

html {
  // definition of 1rem
  font-size: 14px;

  // default color
  color: $default;

  // default background
  background: $empty;

  // force words to break
  word-wrap: break-word;
  overflow-wrap: break-word;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  color: inherit;
  background: inherit;
  border: none;
  text-align: inherit;
  padding: 0;
}

p {
  margin: 0;
}

$colors: $md-deep-purple, $md-blue, $md-red, $md-yellow, $md-green,
  $md-blue-grey, $md-brown, $md-cyan, $md-amber, $md-purple;
