html {
  font-size: 15px;
}

:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  color: inherit;
  background: inherit;
  border: none;
  text-align: inherit;
  padding: 0;
}
