@import '../../common.scss';

.NavbarDropdown {
  max-height: 50vh;
  overflow-y: auto;
}

.NavbarDropdown-item {
  line-height: $block;
  white-space: nowrap;
  padding: 0 $padding;

  &.NavbarDropdown-selected {
    background: $orange;
    color: $white;
  }

  &:hover {
    cursor: pointer;
    background: $orange;
    color: $white;
  }
}
