@import '../../common.scss';

.NavbarDropdown {
  max-height: 50vh;
  overflow-y: auto;
}

.NavbarDropdown-item {
  line-height: $block;
  white-space: nowrap;
  padding: 0 $padding;

  &:hover {
    cursor: pointer;
    color: $orange;
  }

  &.NavbarDropdown-selected {
    color: $orange;
    font-weight: bolder;
  }
}
