@import '../../common.scss';

.Home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  font-size: 0.8rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  .Home-page {
    flex: 1 1 auto;

    padding: $block;
    text-align: center;
    color: $full;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background: url('../../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;

    .Home-box {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      margin: $block;
      padding: $padding;
      background: rgba($empty, 0.8);
      border-radius: 2*$border;
      border: $border solid $orange;

      .Home-top {
        font-size: 2rem;
        z-index: 10;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        .Home-title {
          padding: 0 0.5*$padding;
        }

        .Home-logo {
          height: 3rem;
          padding: 0 0.5*$padding;
        }
      }

      .Home-middle {
        margin-bottom: $padding;
        color: $default;
        font-size: 0.8rem;
        position: relative;
      }

      .Home-bottom {
        margin-bottom: $padding;
        font-size: 0.8rem;
        z-index: 10;

        .Home-button {
          display: block;
          line-height: $block;
          padding: 0 $padding;
          border: $border solid $orange;
          border-radius: 2*$border;
          color: $orange;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            cursor: pointer;
            color: $empty;
            background: $orange;
          }
        }
      }

      .Home-narrow {
        color: $orange;
        font-size: 0.5rem;
        font-weight: bolder;
        margin-bottom: $padding;

        @media (min-width: $minwidth) {
          height: 0;
          margin: 0;
          overflow: hidden;
        }
      }

      .Home-message {
        //color: $default;
        font-size: 0.4rem;
      }
    }

    .Home-link {
      text-decoration: none;
      color: inherit;

      &:hover {
        font-weight: bolder;
      }
    }

    .Home-footer-left,
    .Home-footer-right {
      position: fixed;
      bottom: 0;
      font-size: 0.4rem;
      color: $empty;
      padding: $border;
    }

    .Home-footer-right {
      right: 0;
    }

    .Home-footer-left {
      left: 0;
    }
  }
}
