@import '../../common.scss';

.Home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  font-size: 0.8rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  .Home-page {
    flex: 1 1 auto;
    overflow-y: auto;
    color: $full;

    .Home-heading {
      text-align: center;
      margin-bottom: $padding;
    }

    .Home-features {
      background: $half;
      padding: $block;

      .Home-apps {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;

        .Home-app {
          margin: 0.5*$block;
          background: $empty;
          box-shadow: 0 0 $shadow 0 $full;
          width: 5*$block;

          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          align-items: stretch;

          .Home-app-princetoncourses,
          .Home-app-recal {
            padding: $padding;
            text-align: center;
            border-bottom: $border solid $empty;
            color: inherit;
            cursor: pointer;
            text-decoration: none;
          }

          .Home-app-princetoncourses {
            border-color: $orange;
            &:hover {
              background: $orange;
              color: $black;
            }
          }

          .Home-app-recal {
            border-color: $recal;
            &:hover {
              background: $recal;
              color: $white;
            }
          }

          .Home-app-features {
            padding: $padding $padding 0;
            font-size: 0.8rem;
            li {
              margin-bottom: $padding;
            }
          }

          .Home-app-contributors {
            flex: 1 1 auto;
            padding: $padding;
            background: $half;
            color: $default;
            font-size: 0.6rem;
            font-weight: bolder;
            text-align: center;

            li {
              display: inline;
            }
          }
        }
      }
    }

    .Home-tools {
      padding: $block;

      .Home-tools-logos {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: $padding;

        .Home-tools-logo {
          height: 1.5*$block;
          margin: $padding;
        }
      }
    }

    .Home-footer {
      background: $half;
      font-size: 0.6rem;
      text-align: center;
      padding: $block;

      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: stretch;

      .Home-footer-name {
        margin: 0 $padding;
      }
    }
  }
}
