@import '../../color.scss';

.NavbarItem {
  flex: 0 0 auto;
  position: relative;
}

.NavbarItem-display {
  white-space: nowrap;
  line-height: 40px;
  padding: 0 10px;

  &:hover, &.NavbarItem-active {
    background: $white;
    color: $orange;

    cursor: pointer;
  }
}

.NavbarItem-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: $white;
  border: 1px solid $orange;
}
