@import '../../common.scss';

.NavbarItem {
  flex: 0 0 auto;
  position: relative;

  .NavbarItem-display {
    white-space: nowrap;
    line-height: $block;
    padding: 0 0.5*$padding;

    &:hover, &.NavbarItem-active {
      color: $orange;

      cursor: pointer;
    }
  }

  .NavbarItem-dropdown {
    z-index: 60;
    box-shadow: 0 0 $shadow 0 $full;

    position: absolute;
    top: 100%;
    left: 0;
    background: $empty;
  }
}
