@import '../../common.scss';

.NavbarItem {
  flex: 0 0 auto;
  position: relative;

  .NavbarItem-display {
    white-space: nowrap;
    line-height: $block;
    padding: 0 0.5*$padding;

    &:hover {
      background: $orange;
      color: $empty;
      cursor: pointer;
    }

    &.NavbarItem-active {
      color: $empty;
      background: $orange;
    }
  }

  .NavbarItem-dropdown {
    z-index: 60;
    box-shadow: 0 0 $shadow 0 $full;

    position: absolute;
    top: 100%;
    background: $empty;

    right: 0;
  }
}
