@import '../../common.scss';

.SidePane {
  background: $empty;
  color: $default;
  box-shadow: 0 0 $shadow 0 $full;
  z-index: 50;

  flex: 0 0 25vw;
  width: 25vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  .SidePane-content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-bottom: $padding;
  }
}
