@import '../../common.scss';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.InstructorResult {
  border: $border solid $empty;

  .InstructorResult-header {
    padding: $padding/3;

    &:hover {
      cursor: pointer;
    }

    .InstructorResult-top,
    .InstructorResult-middle {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }

    .InstructorResult-top {
      align-items: flex-start;
      font-size: 0.5em;

      .InstructorResult-name {
        flex: 1 1 auto;
        font-size: 1.4em;
        margin-right: $padding/3;
        color: $full;
      }

      .InstructorResult-spinner {
        flex: 0 0 auto;
        font-size: 0.7rem;
        margin-right: $padding/3;
        color: $md-blue;
        animation: 0.6s spin linear infinite;
      }
    }

    .InstructorResult-middle {
      align-items: flex-end;
      font-size: 0.5em;

      .InstructorResult-position {
        margin-right: $shadow;
        //text-transform: uppercase;
      }

      .InstructorResult-count {
        // font-size: 0.7em;
      }
    }

    .InstructorResult-bottom {
      margin: $padding/3;
      font-size: 0.6em;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.5s ease;
      cursor:text;

      .InstructorResult-detail {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .InstructorResult-courses {
    max-height: 0;
    overflow: auto;

      transition: max-height 0.5s ease;

    .InstructorResult-course {
      //max-height: 0;
      overflow: hidden;
      box-sizing: border-box;
    }

    &.InstructorResult-expanded {
      margin-bottom: $padding;
      max-height: 70vh;
/*
      .InstructorResult-course {
        max-height: 2.71rem;
      }*/
    }
  }

  &:hover {
    border-color: $orange;
  }

  &.InstructorResult-expanded {
    border-color: $orange;

    .InstructorResult-header {
      border-bottom: $border solid $half;

      .InstructorResult-bottom {
        max-height: 4em;
      }
    }

    .InstructorResult-courses {
      max-height: 40vh;
    }
  }
}
