@import '../../common.scss';

.DisplaySchedule {
  background: $white;
  flex: 1 1 0;
  padding: 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
}
