@import '../../common.scss';

.Tabs {
  z-index: 30;
  background: $half;

  text-align: center;
  line-height: $block;

  flex: 0 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;

  .Tabs-tab {
    flex: 0 1 $block;

    &.Tabs-selected {
      color: $orange;
    }

    &:hover {
      color: $empty;
      background: $orange;
      cursor: pointer;
    }
  }
}
