@import '../../common.scss';

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.SideMenu {
  color: $default;
  background: $empty;
  box-sizing: border-box;

  &.SideMenu-left {
    border-right: $border solid $half;
  }
  &.SideMenu-right {
    border-left: $border solid $half;
  }
  //box-shadow: $border 0 0 0 $default, -$border 0 0 0 $default;
  //box-shadow: 0 0 $shadow 0 $full;
  z-index: 50;

  flex: 0 0 25%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  width: 25vw;
  min-width: 25vw;
  max-width: 25vw;

  @media (max-width: $minwidth) {
    width: $minwidth/4;
    min-width: $minwidth/4;
    max-width: $minwidth/4;
  }

  .SideMenu-buttons {
    z-index: 30;
    background: $half;
    text-align: center;
    line-height: $block;
    height: $block;

    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;

    &.SideMenu-sorts {
      background: $empty;
      justify-content: flex-end;
      border-bottom: $border solid $half;
      padding-left: $padding;

      .SideMenu-caption {
        flex: 0 1 auto;
        font-size: 0.6rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .SideMenu-button {
      flex: 0 1 $block;
      font-size: 0.8rem;

      &.SideMenu-button-selected {
        color: $empty;
        background: $orange;

        &.SideMenu-sort {
          color: $orange;
          background: inherit;

          &:hover {
            color: $empty;
            background: $orange;
          }
        }
      }

      &:hover {
        color: $empty;
        background: $orange;
        cursor: pointer;
      }
    }

    .SideMenu-stretch {
      flex: 1 0 0;
    }
  }

  .SideMenu-header {
    flex: 0 0 $block;
    padding: 0 $padding;
    border-bottom: $border solid $empty;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    .SideMenu-input {
      font-size: 0.8rem;
      flex: 1 1 auto;
      width: 50%;
      margin: 0;
      border: none;
    }

    .SideMenu-spinner {
      flex: 0 0 auto;
      font-size: 0.7rem;
      margin-left: $padding;
      color: $md-blue;
      animation: 0.6s spin linear infinite;
    }
  }

  .SideMenu-content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 0 $padding;
  }
}
