@import '../../common.scss';

$SUBTITLE_INTERVAL: 3.5s;
$ANIMATION_START: 50%;
$ANIMATION_END: 80%;

@keyframes subtitle-0 {
  0% {
    color: $empty;
  }
  #{$ANIMATION_START} {
    color: $empty;
  }
  #{$ANIMATION_END} {
    color: $default;
  }
  100% {
    color: $default;
  }
}

@keyframes subtitle-1 {
  0% {
    color: $default;
  }
  #{$ANIMATION_START} {
    color: $default;
  }
  #{$ANIMATION_END} {
    color: $empty;
  }
  100% {
    color: $empty;
  }
}

@keyframes subtitle-2 {
  0% {
    color: $empty;
    max-height: 2em;
  }
  #{$ANIMATION_START} {
    color: $empty;
    max-height: 1.3em;
  }
  #{$ANIMATION_END} {
    color: $empty;
    max-height: 0;
  }
  100% {
    color: $empty;
    max-height: 0;
  }
}


.Cover {
  min-height: calc(100vh - #{2*$block + $border});
  box-sizing: border-box;
  padding: $block;
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .Cover-top {
    font-size: 2rem;
    margin-bottom: -$padding;
    z-index: 10;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .Cover-title {
      padding: 0 0.5*$padding;
    }

    .Cover-logo {
      height: 3rem;
      padding: 0 0.5*$padding;
    }
  }

  .Cover-middle {
    color: $default;
    height: 3rem;
    font-size: 0.8rem;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: stretch;

    .Cover-subtitle-0 {
      white-space: nowrap;
      z-index: 2;
      color: $empty;
      animation: $SUBTITLE_INTERVAL subtitle-0 ease-in-out;
    }

    .Cover-subtitle-1 {
      white-space: nowrap;
      z-index: 1;
      color: $default;
      animation: $SUBTITLE_INTERVAL subtitle-1 ease-in-out;
    }

    .Cover-subtitle-2 {
      white-space: nowrap;
      color: $empty;
      overflow: hidden;
      animation: $SUBTITLE_INTERVAL subtitle-2 ease-in-out;
    }
  }

  .Cover-bottom {
    margin-bottom: $padding;
    font-size: 0.8rem;

    .Cover-button {
      display: block;
      line-height: $block;
      padding: 0 $padding;
      border: $border solid $orange;
      color: $orange;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        color: $empty;
        background: $orange;
      }
    }
  }

  .Cover-narrow {
    font-size: 0.5rem;

    @media (min-width: $minwidth) {
      height: 0;
      overflow: hidden;
    }
  }
}
