@import '../../common.scss';

.MenuPane {
  color: $default;
  background: $empty;
  box-shadow: 0 0 $shadow 0 $full;
  z-index: 50;

  flex: 0 0 auto;
  width: 25vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;

  .MenuPane-content {
    padding: 0 0 0;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;

    .MenuPane-input {
      margin: 0 0 0;
      border: none;
      border-bottom: $border solid $half;
      line-height: $block;
      padding: 0 $padding;
      flex: 0 0 auto;
    }

    .MenuPane-caption {
      padding: $padding;
      text-align: right;
      font-size: 0.7rem;
    }

    .MenuPane-results {
      padding: 0 0 $padding;
      flex: 1 1 auto;
      overflow-y: auto;
    }
  }

}
