.MenuSearch {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
}

.MenuSearch-input {
  flex: 0 0 auto;
}

.MenuSearch-results {
  flex: 1 1 auto;
  overflow-y: auto;
}
