.Navbar {
  flex: 0 0 auto;
  background: #222;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.Navbar-brand {
  flex: 0 0 auto;
  color: #ee964b;
  padding: 0 20px;
  line-height: 40px;
}
