.Navbar {
  flex: 0 0 auto;
  background: #222;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.Navbar-brand {
  flex: 0 0 auto;
  color: #ee964b;
  padding: 0 20px;
  line-height: 40px;
}

.Navbar-semester {
  flex: 0 0 auto;
  position: relative;
  color: #fff;
  padding: 0;
  background: inherit;
  border: none;
  text-align: inherit;
}

.Navbar-semester-current {
  white-space: nowrap;
  line-height: 40px;
  padding: 0 15px;

  &:hover, &:focus {
    cursor: pointer;
    background: #777;
  }
}

.Navbar-semester-option {
  line-height: 40px;
  white-space: nowrap;
  padding: 0 15px;

  &:hover {
    cursor: pointer;
    background: #777;
  }

  &.selected {
    background: #777;
  }
}

.Navbar-semester-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  bottom: auto;
  margin: 0;
  background: #333;
  max-height: 50vh;
  overflow-y: auto;
}
