@import '../../common.scss';

.DisplayCourse {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  color: $full;

  .DisplayCourse-body {
    flex: 1 1 auto;
    width: 50vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: stretch;

    .DisplayCourse-summary {
      box-shadow: 0 0 $shadow 0 $full;
      font-size: 1.2rem;
      padding: $padding;
      flex: 0 0 auto;
    }

    .DisplayCourse-content {
      font-size: 0.8rem;
      padding: $padding;
      flex: 1 1 auto;
      overflow-y: auto;
    }
  }

  .DisplayCourse-side {
    flex: 0 0 auto;

    display: flex;
    flex-flow: row nowrap;

  }
}
