@import '../../common.scss';

.DisplayCourseDetails {
  flex: 1 1 auto;
  font-size: 0.6rem;

  .DisplayCourseDetails-field {
    margin-bottom: $padding;

    &.DisplayCourseDetails-banner {
      color: $orange;
      font-size: 0.8em;
      font-weight: bolder;
    }

    .DisplayCourseDetails-field-title {
      font-size: 0.9em;
      color: $orange;
    }

    .DisplayCourseDetails-field-content {
      .DisplayCourseDetails-grading-percent {
        font-size: 0.8em;
        font-weight: bolder;
        text-align: right;
      }

      .DisplayCourseDetails-reserved-seat {
        padding-bottom: 5*$border;
      }

      .DisplayCourseDetails-reading {
        padding-bottom: 5*$border;

        .DisplayCourseDetails-reading-author {
          color: $default;
          font-size: 0.7em;
        }
      }

      .DisplayCourseDetails-evaluations-numeric {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        font-size: 0.7em;
        margin-bottom: 5*$border;

        .DisplayCourseDetails-evaluations-field {
          flex: 1 1 auto;
          font-size: 1.43em;
          margin-left: 5*$border;
        }
      }

      .DisplayCourseDetails-evaluations-written {
        font-size: 0.9em;
        margin-bottom: $padding;
      }
    }
  }
}
