@import '../../common.scss';

.DisplayCourseDetails {
  flex: 1 1 auto;

  .DisplayCourseDetails-field {
    margin-bottom: $padding;

    .DisplayCourseDetails-field-title {
      text-transform: uppercase;
      font-size: 0.6em;
      color: $default;
    }

    .DisplayCourseDetails-field-content {
      .DisplayCourseDetails-grading-percent {
        font-size: 0.7em;
        text-align: right;
      }

      .DisplayCourseDetails-reserved-seat {
        padding-bottom: 5*$border;
      }

      .DisplayCourseDetails-reading {
        padding-bottom: 5*$border;

        .DisplayCourseDetails-reading-author {
          color: $default;
          font-size: 0.7em;
        }
      }

      .DisplayCourseDetails-evaluations-score {
        font-size: 0.7em;
        text-align: right;
      }

      .DisplayCourseDetails-evaluations-written {
        font-size: 0.9em;
        margin-bottom: $padding;
      }
    }
  }
}
