@import '../../common.scss';

.CourseSummary {
  &:hover {
    .CourseSummary-bottom .TimeAgo {
      max-width: $block;
      margin-left: 5*$border;
    }
  }

  .CourseSummary-top,
  .CourseSummary-middle,
  .CourseSummary-bottom {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;

    > * {
      margin-left: 5*$border;
      white-space: nowrap;
    }

    .CourseSummary-stretch {
      flex: 1 1 0;
    }
  }

  .CourseSummary-top {
    font-size: 0.6em;
    justify-content: flex-start;
    align-items: flex-end;

    .CourseSummary-listing {
      font-size: 1.05em; // on top of the 0.6em;
      margin-left: 0;
      font-weight: bolder;
      color: $full;
    }

    .CourseSummary-crosslistings {
      margin-left: 0;
      flex: 0 100 auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $full;

      .CourseSummary-crosslisting {
        margin-left: 5*$border;
      }
    }

    .CourseSummary-tags {
      flex: 0 1 auto;
      white-space: nowrap;
      overflow: hidden;
      margin-left: 0;

      display: flex;
      flex: row nowrap;

      > * {
        margin-left: 5*$border;
      }

      .CourseSummary-distribution {
        color: $info;
      }

      .CourseSummary-pdf,
      .CourseSummary-audit {
        color: $success;
      }

      .CourseSummary-pdfo {
        color: $warning;
      }

      .CourseSummary-npdf,
      .CourseSummary-naudit {
        color: $danger;
      }

      .CourseSummary-xpdf,
      .CourseSummary-xaudit {
        order: 1;
        color: $half;
      }
    }

    .CourseSummary-stretch {
      order: 2;
    }

    .CourseSummary-saved {
      order: 4;
      color: $orange;
    }

    .CourseRating {
      order: 5;
      font-size: 0.9em;
    }
  } // CourseSummary-top

  .CourseSummary-middle {
    .CourseSummary-title {
      margin-left: 0;
      font-size: 0.75em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $full;
    }
  }

  .CourseSummary-bottom {
    font-size: 0.6em;
    justify-content: flex-end;
    align-items: stretch;
    color: $default;

    .CourseSummary-semester,
    .CourseSummary-instructors {
      margin-left: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .TimeAgo {
      max-width: 0;
      overflow: hidden;
      transition: max-width 0.5s ease, margin-left 0.5s ease;
      margin: 0;
    }

    .CourseSummary-status {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;

      &.CourseSummary-status-open {
        color: $success;
        margin: 0;
      }

      &.CourseSummary-status-closed {
        color: $warning;
      }

      &.CourseSummary-status-canceled {
        color: $danger;
      }
    }
  }
}
